{% extends 'bodypage/base-s1.html' %}
{% block draftarticle-20 %}
<div class="container-fluid" style="margin-top: 20px">
    <!----------------------------------左侧管理标签项-----------start------------------------------>
        <a href="/user/article-manage/newarticle/{{ user.id }}"><button class="btn btn-default btn-block ">写文章</button></a>

        <hr>

        <a href="/user/article-manage/{{ user.id }}"><button class="btn btn-default btn-block">管理已发布文章</button></a>

        <hr>

        <a href="/user/article-manage/draftarticle/{{ user.id }}"><button class="btn btn-block btn-success">草稿</button></a>

        <hr>

        <a href="/user/article-manage/delete/{{ user.id }}"><button class="btn btn-block btn-default">回收站</button></a>
    <!----------------------------------左侧管理标签项-----------end------------------------------>
</div>


{% endblock %}



{% block draftarticle-80 %}
<div class="container-fluid" style="margin-top: 20px">
    <!----------------------------------右侧文章列表-----------start------------------------------>
    {% for article in articles %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/article/{{ article.id }}"><h4>{{ article.title }}</h4></a>
            <div style="float: right;margin-right: 50px">
                <form method="post" action="/user/delete-article/{{ article.id }}">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input type="submit" value="删除" class="btn btn-danger btn-sm" style="margin-top: -60px">
                </form>
            </div>
            <div style="float: right;margin-right: 20px">
                <a href="/user/article-manage/edit/{{ article.id }}"><button class="btn btn-sm btn-success" style="margin-top: -60px">
                    编辑文章
                </button></a>
            </div>
        </div>
        <div class="panel-body">
            <p >{{ article.abstract }}</p>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}