{% extends 'bodypage/base-s1.html' %}

{% block login-20 %}
    <!--错误处理------------------------------------------------------------------------------->
    {{ errors }}
    <!--设置登录页面------------------------------start---------------------------------------------->
    <div  class="center-block">
        <form method="post" action="">
        {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">用户名</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" name="username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">密码</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
          </div>
          <button type="submit" class="btn btn-default">登录</button>
        </form>
    </div>
    <!--设置登录页面------------------------------end---------------------------------------------->

{% endblock %}


<!--右侧模块-------------------------------------------------------------------------------->



{% block login-80 %}


{% endblock %}